prog/TranslatingClient/src/META-INF/wsdl/localhost_8080/TranslatingService/TranslateServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://service.translate.simple/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.translate.simple/">

<xs:element name="translateASentence" type="tns:translateASentence" />

<xs:element name="translateASentenceResponse" type="tns:translateASentenceResponse" />

<xs:complexType name="translateASentence">
<xs:sequence>
<xs:element name="corpus" type="xs:string" minOccurs="0" />
<xs:element name="sourceLanguage" type="xs:string" minOccurs="0" />
<xs:element name="targetLanguage" type="xs:string" minOccurs="0" />
<xs:element name="aSentence" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="translateASentenceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>